body {
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, system-ui;
}

header h1, h2 {
  text-align: center;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

ul.social i {
  color: white;
}

ul.social i:hover {
  color: blue;
}

ul.projects a {
  text-decoration: none;
  color: white;
}

ul.projects a:hover {
  color: blue;
}